:root {
    --max-screen-width: 1024px;

    --max-text-width: 50ch;

    --max-card-width: var(--max-screen-width);
    --min-card-width: 300px;

    --min-button-width: 300px;
    
    --gap-card: 1em;
    --radius-card: .5em;
}

*, *::before, *::after {
    box-sizing: border-box;
}

section {
    max-width: var(--max-screen-width);
    margin-inline: auto;
    padding: 0;    
}

