:root {
    --max-screen-width: 1024px;

    --max-text-width: 50ch;

    --max-card-width: var(--max-screen-width);
    --min-card-width: 300px;

    --min-button-width: 300px;
    
    --gap-card: 1em;
    --gap-card: 1em;
}

*, *::before, *::after {
    box-sizing: border-box;
}

section {
    max-width: var(--max-screen-width);
    margin-inline: auto;
    padding: 0;    
}

/* Card Wrappers */
.card-wrapper-flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    gap: var(--gap-card);
    margin-block: var(--gap-card);
}
.card-wrapper-flex > * {
    flex: 1;
}

.card-wrapper-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(var(--min-card-width), 1fr));

    gap: var(--gap-card);
    margin-block: var(--gap-card);
}
.card-wrapper-grid--fill {
    grid-template-columns: repeat(auto-fill, minmax(var(--min-card-width), 1fr));
}

.card-wrapper-grid *,
.card-wrapper-flex * {
    margin: 0;
    padding: 0;
}

.card-wrapper-grid .card-container,
.card-wrapper-flex .card-container {
    container-type: inline-size;

    min-width: var(--min-card-width);    
    max-width: var(--max-card-width); 

    position: relative;
}

/* Basic Card */
.card-1 {
    --_shadow-width: calc(var(--gap-card) / 2);

    display: flex;    
    flex-direction: column;
    align-items: center;
    align-content: space-between;

    gap: var(--gap-card);

    border: 1px solid lightgray;
    box-shadow: var(--_shadow-width) var(--_shadow-width) 5px lightgray;

    height: 100%;
    padding: var(--gap-card);
}
.card-1--align-left {
    align-items: flex-start;
}
.card-1--align-right {
    align-items: flex-end;
}
.card-1 > * {
    flex: 1;
}

.card-2 {
    --_shadow-width: calc(var(--gap-card) / 2);

    display: flex;
    flex-direction: row;
    align-items: start;
    align-content: space-between;
    gap: var(--gap-card); 

    border: 1px solid lightgray;
    box-shadow: var(--_shadow-width) var(--_shadow-width) 5px lightgray;

    height: 100%;
    padding: var(--gap-card);
}
.card-2--align-left {
    align-items: flex-start;
}
.card-2--align-right {
    align-items: flex-end;
}

.card-2 .card-sb-left {
}
.card-2 .card-sb-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: space-between;
    gap: var(--gap-card);

    height: 100%;
    margin-left: var(--gap-card);
}
.card-2 .card-sb-left > *,
.card-2 .card-sb-right > * {
    flex: 1;
}

.card-header {
}
.card-header--wide {
    text-align: center;
    width: 100%
}
.card-1--align-left .card-header--wide,
.card-2--align-left .card-header--wide {
    text-align: left;
}
.card-1--align-right .card-header--wide,
.card-2--align-right .card-header--wide {
    text-align: right;
}

.card-image {
    object-fit: cover;
    width: 100%;
    margin: auto;
}
.card-image--round {
    border-radius: 50%;
}
.card-image--full {
    margin-top: calc(var(--gap-card) * -1);
    margin-left: calc(var(--gap-card) * -1);
    width: calc(100% + (var(--gap-card) * 2));
    height: auto;
}

.card-bkimage {
    position: absolute;
    height: 100%;
    opacity: .4;

    object-fit: cover;
    width: 100%;
    z-index: -1;
}

.card-1--align-right .card-body
.card-2--align-right .card-body {
    text-align: right;
}

.card-body {
    max-width: var(--max-text-width);
}


.card-footer {
    display: flex;
    flex-direction: row;
    align-items: end;
}
.card-footer--wide {
    width: 100%;
}

.card-button {
    display: block;
    padding: .5em;
    width: 100%;
    border-radius: 0.5em;
    min-width: max(var(--min-button-width), max-content);

    text-align: center;
    text-decoration: none; 
    
    color: darkgray;
    border: 2px solid lightgray;
}
.card-button:hover,
.card-button:focus {
    background-color: lightgray;
    border: 2px solid darkgray;
}

@container (max-width: 400px) {
    .card-2  {
        flex-direction: column;
        align-items: center;
        align-content: space-between;
        }
}


/* Dev Only - comment out */
/* .card-wrapper-grid,
.card-wrapper-flex {
    padding: 1em;
}
div {
    border: 1px dashed red;
} */